
.navbar{
    background-color: #0a0b27;
    padding: 0;
}
.nav-link{
    margin-right: 40px;
}
.navbar-toggler{
    color: #fff;
}


.image-fluid img{
    display: flex;
    width: 100%;
    object-fit: cover;
    
}
.col-lg-6{

    display: flex;
    align-items: center;
    justify-content: center;
}
#col-1{
    background-color: black;
    overflow: hidden;
    height: 976px;
    position: relative;
}
#col-2{
    font-family: "merivaregular";
    font-size: 1.6em;
    /* transform: scale(0.67); */
    display: block;
    /* height: 976px; */
    box-sizing: border-box;
    padding: 100px;
}


.round-image{
    display: flex;
    position: relative;
    object-fit: cover;
    width: 150px;
    justify-content: center;
    z-index: 1;
}
.round-text{
    display: block;
    z-index: 2;
    display: flex;
    position: absolute;
    color: #fff;
    font-family: "merivaregular";
    font-size: 60px;
    font-weight: 900;
}
.text-new{
    display: flex;
    position: absolute;
    justify-content: center;
}
span{
    display: block;
    align-items: center;
}
#last-image{
    display: flex;
    display: block;
}
@media (max-width:992px) {
    #col-2{
    padding: 20px;
    }
    
}
footer{
    height: 240px;
}

.footer-1{
    font-size: 15px;
    display: flex;
    padding-top: 40px;
    padding-left: 30px;
}
.links{
    font-size: 15px;
    display: flex;
    font-weight: 600;
    padding-left: 30px;
    color: black;
    margin-top: -15px;    
}
.links:hover{
    color: red;
}
.last-para{
    padding-left: 30px;
}
.logo{
    padding-left: 30px;
    margin-right: 10px;
}
